#app {
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  text-align: left;
  background-color: rgba(0,255,0, .1);
}

.router-link {
  display:flex;
  justify-content:space-around;
  padding: 20px 0;
}
