
* {
    margin: 0;
    padding: 0;
}

#todolist {
    width: 100%;
    min-height: 600px;
}

#todolist > h4 {
    padding: 20px 0;
    text-align: center;
}

.todo-input {
    padding: 20px 0;
    border-bottom: 1px solid #999;
}

.todo-input input {
    display: block;
    margin: 0 auto;
    width: 90%;
    line-height: 36px;
    border-radius: 100px;
    outline: none;
    text-align: center;
    font-size: 20px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.doing-box, .done-box {
    padding: 20px 0;
}

.doing-title, 
.done-title {
    padding-left: 20px;
    margin-bottom: 10px;
}

.doing-item,
.done-item  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 10px;
    padding: 0 10px;
    width: 92.5%;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    background-color: pink;
    border-radius: 3px;
}

.doing-item p,
.done-item p {
    display: flex;
    align-items: center;
}

.doing-item input,
.done-item input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.doing-item button, 
.done-item button {
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 100px;
    outline: none;
}


.doing-item span,
.done-item span {
    width: 640px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

